@model LibraryTest.Models.BooksModel
@using System.Web.Helpers;

@{
    ViewBag.Title = "ManageBooks";
    WebGrid grid = new WebGrid(null, rowsPerPage: @ViewBag.Model.PageSize);
    grid.Bind(@ViewBag.Model.Books, autoSortAndPage: true, rowCount: @ViewBag.Model.PageSize);
}

<h2>ManageBooks</h2>
@Html.ActionLink("Add new book", "AddNewBooks", "Book")
<hr />
@grid.GetHtml(tableStyle: "table table-bordered",
 mode: WebGridPagerModes.All,
 firstText: "<< First",
 previousText: "< Prev",
 nextText: "Next >",
 lastText: "Last >>",
    columns: grid.Columns(
    grid.Column("Author", "Author"),
    grid.Column("Title", "Title"),
    grid.Column("Quantity", "Quantity"),
    grid.Column(header: "Action",
                format:@<text> @Html.ActionLink("Edit", "GetBooksByQuantity", new { quantity=item.Quantity, book=item.Title }, null) |
                       @Html.ActionLink("Delete", "Delete", new { book = item.Author }, null)</text>)@*@<text><a data-value='@item.Quantity, @item.Title' href='javascript:void(0)'>Edit quantity</a></text>*@
))
